        *{margin: 0;padding: 0;}
        .container{
            width: 960px;
            margin: 0 auto;
            overflow: hidden;
        }
        header{
            background-color: #8C198E;
            height: 50px;
            margin-bottom: 15px;
        }
        aside{
            width: 200px;
            float: left;
        }
        .content{
            width: 740px;
            float: right;
            min-height: 300px;
            border: 1px solid #d3d3d3;
        }
        footer{
            clear: both;
            height: 80px;
            background-color: #EBEBEB;
            color: #555;
            margin-top: 15px;
        }
        header h1{
            padding-left: 20px;
            padding-top: 10px;
            color: #fff;
            text-indent: -999px;
            height: 50px;
            width: 170px;
            background:url('../images/logo.png');
        }
        .content p{
            padding: 10px 15px;
            text-indent: 2em;
            line-height: 1.8;
        }
        .box{
            border: 1px solid #d3d3d3;
            background-color: #fff;
            /*padding-bottom: 20px;*/
        }
        .box h2{
            color: #fff;
            font-size: 16px;
            background: #f0f0f0 url('../images/xn_title.png') no-repeat ;
            line-height: 42px;
            padding-left: 16px;
            border-bottom: 1px solid #f0f0f0;
        }
        .nav ul {
            list-style: none;
            padding: 20px 8px;

        }
        .nav li{
            /*margin-bottom: 5px;
            margin-left: 20px;*/
            border-bottom: 1px dotted #fff;
        }
        .nav ul a{
            text-decoration: none;
            color: #eee;
            display: block;
            /*width: 100px;*/
            line-height: 32px;
            border-left: 8px solid #77438D;
            background-color: #B85A9A;
            padding-left: 20px;
        }
        .nav a:hover{
            background-color: #C1194E;
            border-left: 8px solid #7A023C;
            color: #fff;
        }
        footer p{
            text-align: center;
            line-height: 80px;
            color: #888;
        }
        .content h2{
            padding: 10px 15px;
            color: #333;
            font-size: 16px;
            /*border-bottom: 1px solid #aaa;*/
            background: #f0f0f0 url('../images/title.png') no-repeat right top;
        }
        .tab{
            width: 100%;
            border: 1px solid #ddd;
            border-collapse: collapse;
        }
        .tab th,.tab td{
            padding: 6px;
            line-height: 1.42857143;
            border: 1px solid #ddd;
        }
        .tab th{
            border-bottom-width: 2px;
            text-align: left;
        }
        .tab thead{

        }
        .btn{
            display: inline-block;
            padding: 4px 8px;
            font-size: 14px;
            text-align: center;
            cursor: pointer;
            color: #333;
            text-decoration: none;
            background-color: #8C198E;
            color: #fff;
            border: none;
        }
        .big_btn{
            padding: 6px 12px;
        }
        .frm p{

        }
        .edit-label{
            display: inline-block;
            width: 128px;
            float: left;
            text-align: right;
            padding: 8px 15px 0 0;
        }
        .edit-cell{
            width: 220px;
            float: left;
            text-align: left;
            /*display: table-cell; */
        }
        .text{
             height: 18px;
            line-height: 18px; 
            width: 200px; 
            padding: 5px 5px; 
            margin: 0 10px 0 0; 
            border: 1px solid #d0d6d9; 
            /*vertical-align: top;  */
        }
        .radio label{
            min-height: 20px;
            padding-left: 20px;
            margin-bottom: 0;
            font-weight: 400;
            cursor: pointer;
        }
        .dept{
            /*height: 34px;*/
            padding: 4px 12px;
            font-size: 14px;
            /*line-height: 1.42857143;*/
            color: #555;
            background-color: #fff;
            border: 1px solid #ccc;
        }
        p.btn-line{
            text-align: left;
        }
        h1{  
            background-color: #8C198E;
        }
 